.App{
  filter: brightness(1.3) contrast(1.2);
}

.StrobeAnimation{
  opacity: 0.05;
  z-index: 3;
}

.Noise {
  filter: brightness(1);
  opacity: 0.3;
  mix-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}
.ParticleCanvas{
  filter: contrast(1.2) brightness(1.0);
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1; 
  filter: blur(6.0rem);
}